<section class="all-links">
  <%= render @links %>

  <div class="link col-md-12 col-sm-12 col-xs-12" style="background: #fff">
	  <div class="title">
	    <span class="subtext">
	    	<span style="padding-left: 25px;"></span>
	    	<%= link_to_next_page @links, 'More', class: "more_text" %>
			</span>
		</div>
	</div>
</section>