<section class="new-link">
  <div class="comment">
    <div class="row">
        <h1 class="header-title"> submit a link </h1>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>